.leaderboard-container {
  padding: 30px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

thead tr {
  background: #f3f3f3;
}